{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow"
    },
    {
      "usePrettierrc": false
    }
  ]
}
